#content {

    article.title {
        height: 65vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        div.title {
            position: relative;
            z-index: 10;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            white-space: normal;
            margin: 0 auto;
            max-width: 1200px;

            h1 {
                color: $white;
                text-align: center;
                text-transform: uppercase;
                font-size: 3em;
                font-family: $radikal-black;
                letter-spacing: 0.13em;
                line-height: 1.7em;

                span {
                    border-bottom: 8px solid $red;
                    padding: 0 6px;
                    text-align: center;
                }
            }
        }

    }

    .platter {
        max-width: 1440px;
        margin: 20px auto 0;
        padding: 20px 20px;
        position: relative;

        article.content-page {
            min-height: 350px;
            padding: 40px 4%;
            max-width: 960px;
            margin: 0 auto;

            p {
                font-family: $corbel;
                line-height: 1.3em;
                padding-bottom: 20px;
                font-size: 1.2em;
                letter-spacing: 0.01em;

            }

            a {
                color: $gray;
                text-decoration-style: dotted;
                -webkit-text-decoration-style: dotted;
                -moz-text-decoration-style: dotted;
                transition: all 100ms ease;

                &:hover {
                    color: $red;
                    text-decoration-style: solid;
                    -webkit-text-decoration-style: solid;
                    -moz-text-decoration-style: solid;
                }
            }

        }
    }

    @media only screen and (max-width: 1000px) {
        .platter {
            article.content-page {
                padding: 40px 0;
            }
        }

        .platter {
            padding: 0;
        }
    }
}

