
.avenir {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $avenir !important;
    }
}

.avenir-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $avenir-i !important;
    }
}

.avenir-med {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $avenir-med !important;
    }
}

.avenir-med-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $avenir-med-i !important;
    }
}

.avenir-blk {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $avenir-blk !important;
    }
}

.avenir-blk-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $avenir-blk-i !important;
    }
}

.dido {
    h1, h2, h3, h4, h5, h6, p, a {

        font-family: $dido !important;
    }
}

.dido-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $dido-i !important;
    }
}

.dido-orn {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $dido-orn !important;
    }
}

.dido-bold {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $dido-bold !important;
    }
}

.dido-bold-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $dido-bold-i !important;
    }
}

.dido-head {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $dido-head !important;
    }
}


