body.single-gc_event {

    #content .platter {
        margin: 0 20px;
        top: -15vh;
        position: relative;
        background-color: $gray-light;
        z-index: 200;

        .nav {
            display: block;
            width: 100%;
            max-width: 1000px;
            padding: 60px 0 20px;
            margin: 0 auto;

            a {
                text-transform: uppercase;
                font-size: 1em;
                letter-spacing: 0.15em;
                text-decoration: none;
                color: $gray5;
                transition: all 200ms ease-in-out 0s;

                &::before {
                    content: "◀︎";
                    padding-right: 7px;
                }

                &:hover {
                    color: $gray4;
                }
            }
        }

        .content-page {
            margin: 0 auto;
            max-width: 1000px;
            min-height: inherit;
            padding: 20px 0 60px;
            position: relative;
            display: block;

            div.container {
                display: flex;
                margin: 0;
                padding: 0;
            }

            main,
            aside {
                display: inline-block;
            }

            main {
                margin: 0;
                max-width: 800px;
                width: 100%;
                padding-right: 45px;

                .mobile {
                    display: none;
                }

                h1 {
                    margin-top: 0;
                    margin-bottom: 20px;
                }

                .content {
                    max-width: 600px;
                }

                div.video {
                    width: 100%;
                    overflow: auto;
                    display: block;

                    div {
                        width: 100% !important;

                        span {
                            width: 100% !important;

                            iframe {
                                width: 100% !important;
                            }
                        }
                    }
                }

                .more {

                    margin: 40px 0 10px;

                    div.social {
                        margin: 30px 0 0;
                    }
                }

            }

            aside {
                margin: 0;
                min-width: 180px;
                border-left: 5px solid $red;
                padding-left: 25px;
                vertical-align: top;

                .content {

                }

                time {
                    display: block;

                    &.date {
                        font-family: $radikal;
                        font-size: 1.87em;
                        line-height: 1.3em;
                        letter-spacing: 0.06em;
                    }

                    &.time {
                        font-family: $radikal-light;
                        font-size: 1em;
                        line-height: 2.5em;
                        letter-spacing: 0.06em;
                    }
                }

                p.address {
                    font-size: 1em;
                    line-height: 1.5em;
                    font-family: $corbel;
                    margin: 0 0 10px;
                }

                a.button {
                    margin: 35px 0 40px;
                }

                a.direction {
                    margin: 20px 0;
                }

            }
        }

        #related_events {
            max-width: 1000px;
            margin: 0 auto;
            width: 100%;
            min-height: inherit;
            padding: 10px 0 20px;

            h1 {
                margin-bottom: 40px;
            }

            ul {
                display: flex;

                li {
                    list-style: none;
                    display: inline-block;
                    width: 25%;
                    padding: 0;
                    text-indent: 0;

                    &::before {
                        display: none;
                        content: "";
                    }

                    a {
                        color: $black;
                        display: block;
                        transition: all 300ms ease-in-out 150ms;
                        position: relative;
                        padding: 25px 25px 25px 25px;
                        margin-right: 20px;
                        background-color: $gray-light;

                        time {
                            display: block;
                            &.date {
                                font-family: $radikal;
                                font-size: 26px;
                                line-height: 1.3em;
                                letter-spacing: 0.06em;
                            }

                            &.time {
                                font-family: $radikal;
                                font-size: 14px;
                                line-height: 1.5em;
                                letter-spacing: 0.06em;
                            }
                        }

                        &:hover {

                            span {

                                &.top,
                                &.bottom {
                                    width: 100%;
                                }

                                &.right,
                                &.left {
                                    height: 100%;
                                }

                                &.left,
                                &.bottom {
                                    background-color: $red;
                                }

                                &.top {
                                    transition: all 300ms ease-in-out 100ms;
                                }

                                &.right {
                                    transition: all 200ms ease-in-out 150ms;
                                }

                                &.left {
                                    transition: all 100ms ease-in-out 0s;
                                }

                                &.bottom {
                                    transition: all 150ms ease-in-out 0s;
                                }
                            }

                        }

                        span {
                            display: block;
                            position: absolute;

                            &.top,
                            &.right {
                                background-color: $red;
                            }

                            &.left,
                            &.bottom {
                                background-color: $gray4;
                                bottom: 0;
                            }

                            &.top,
                            &.bottom {
                                height: 2px;
                                left: 0;
                            }

                            &.left,
                            &.right {
                                width: 2px;
                                bottom: 0;
                            }

                            &.top {
                                width: 0%;
                                top: 0;
                                transition: all 300ms ease-in-out 0s;
                            }

                            &.right {
                                height: 0%;
                                right: 0;
                                transition: all 200ms ease-in-out 0s;
                            }

                            &.left {
                                height: 50%;
                                left: 0;
                                transition: all 100ms ease-in-out 300ms;
                            }

                            &.bottom {
                                width: 50%;
                                transition: all 200ms ease-in-out 200ms;
                            }
                        }

                    }
                }
            }
        }

        @media only screen and (max-width: 1150px) {

            .nav {
                margin: 0 20px;
                padding: 40px 0 10px;
                width: auto;
            }

            .content-page {
                margin: 0 20px;

            }

            #related_events {
                margin: 0 20px;
                width: auto;
            }
        }

        // Tablet
        @media only screen and (max-width: 800px) {
            top: inherit;
            margin: 0;

            #related_events {
                ul {
                    display: table;

                    li {
                        width: 33.33%;
                    }
                }
            }
        }

        @media only screen and (max-width: 760px) {

            .nav {
                display: none;
            }

            .content-page {
                margin-top: 10px;

                div.container {
                    display: block;

                    main,
                    aside {
                        display: block;
                        padding: 0;
                        margin: 0;
                        width: 100%;
                    }

                    main {
                        .mobile {
                            display: block;

                            time {
                                display: block;

                                &.date {
                                    font-family: $radikal;
                                    font-size: 1.4em;
                                    line-height: 1.2em;
                                    letter-spacing: 0.06em;
                                }

                                &.time {
                                    font-family: $radikal-light;
                                    font-size: 1em;
                                    line-height: 2.5em;
                                    letter-spacing: 0.06em;
                                }
                            }
                        }

                        .more {
                            margin-bottom: 30px;
                        }
                    }

                    aside {
                        border-left: none;
                        text-align: center;

                        time {
                            display: none;
                        }

                        div.location {
                            display: block;
                            position: relative;
                            margin-bottom: 30px;

                            h3 {
                                border-bottom: 1px solid $gray4;
                                text-align: left;
                            }

                            p.address {
                                margin-top: 8px;
                                br {
                                    display: inline-block;
                                    content: "";

                                    &:after {
                                        content: ",";
                                        padding-right: 3px;
                                        display: block;
                                    }
                                }
                            }

                            a {
                                position: absolute;
                                top: 0;
                                right: 0;
                                margin: 0;
                            }
                        }

                        a.button {
                            display: block;

                        }

                        a.small {
                            margin: 10px 0 10px;
                        }




                    }
                }

            }

            #related_events {
                ul {

                    li {
                        width: 50%;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        @media only screen and (max-width: 480px) {
            .content-page {
                main {
                    h1 {
                        font-size: 1.8em;
                    }

                    p {
                        letter-spacing: 0.05em;
                        line-height: 1.45em;
                        font-size: 1.3em;
                    }
                }
            }

            #related_events {
                h1 {
                    font-size: 1.8em;
                }
            }
        }

        @media only screen and (max-width: 380px) {
            #related_events {
                ul {

                    li {
                        width: 100%;

                    }
                }
            }
        }
    }

}
