footer {
    width: 100%;
    display: block;
    margin-top: 50px;
    color: $white;

    section {

        ul {
            margin: 0 auto;
            text-align: center;

            li {
                display: inline-block;
                width: 33.333%;
            }
        }
    }

    section.top {
        background-color: $gray6;
        text-align: center;

        div.content {
            max-width: 800px;
            margin: 0 auto;
            padding: 40px 0;
            display: table;
            width: 100%;
            position: relative;

            div.logo,
            div.center,
            ul {
                display: inline-block;
                text-align: center;
                width: 33.333%;
                vertical-align: middle;
            }
        }

        div.logo {
            display: inline-block;

            #simple_logo {
                display: inline-block;
                width: 160px;
                height: 70px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                z-index: 300;

            }
        }

        ul {
            display: inline-block;

            //position: absolute;
            //right: 0;
            //top: 50%;
            //-webkit-transform: translateY(-50%);
            //-ms-transform: translateY(-50%);
            //transform: translateY(-50%);

            li {
                text-align: center;
                width: auto;

                a {
                    width: 34px;
                    height: 30px;
                    display: inline-block;
                    white-space: nowrap;
                    text-indent: -9999px;
                    margin: 0 10px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    opacity: 1;

                    &#facebook {
                        background-image: url('images/rs_facebook.png');
                    }

                    &#twitter {
                        background-image: url('images/rs_twitter.png');
                    }

                    &#instagram {
                        background-image: url('images/rs_instagram.png');
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    section.bottom {
        padding: 50px 0;
        background-color: $black;

        ul {
            max-width: 800px;
            display: table;
            width: 100%;

            li {
                vertical-align: top;

                a {
                    color: $white;
                    text-decoration: none;
                    display: block;

                    &::before {
                        content: "";
                        display: block;
                        width: 51px;
                        height: 41px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        margin: 0 auto 25px;
                        background-position: center bottom;
                    }

                    h1 {
                        font-family: $radikal-bold;
                        font-size: 1.2em;
                        line-height: 1.2em;
                        text-transform: uppercase;
                        margin-bottom: 7px;
                    }

                    p {
                        font-size: 1.1em;
                        line-height: 1.1em;
                    }

                }

                &.email {
                    a::before {
                        background-image: url('images/footer_email.png');
                    }
                }

                &.location {
                    a::before {
                        background-image: url('images/footer_location.png');
                    }
                }

                &.time {
                    a::before {
                        background-image: url('images/footer_time.png');
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 800px) {

        section.top {
            padding: 0 20px;
        }

        section.bottom {
            padding: 50px 20px;
        }

    }

    @media only screen and (max-width: 530px) {

        section.top {
            padding: 0 20px;

            div.content {
                div.logo,
                ul.social {
                    width: 50%;
                }

                div.center {
                    width: 0;
                }

                ul.social {
                    text-align: right;
                }

                div.logo {
                    text-align: left;
                }
            }
        }

        section.bottom {
            padding: 30px 5px;

            ul {
                li {
                    a {
                        padding: 0 5px;

                        &::before {
                            width: 40px;
                            height: 30px;
                            margin-bottom: 15px;
                        }

                        h1 {
                            font-size: 0.9em;
                        }

                        p {
                            font-size: 0.75em;
                        }
                    }
                }
            }
        }

    }

    @media only screen and (max-width: 350px) {

        section.top {
            padding: 0 10px;

            div.content {
                padding: 20px 0;
                display: block;

                div.logo,
                ul.social {
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin: 10px auto;
                }
            }
        }

        section.bottom {
            padding: 10px;

            ul {
                display: block;
                text-align: center;

                li {
                    display: block;
                    text-align: center;
                    width: 100%;
                    margin: 20px auto;
                }
            }
        }
    }

}