body > header {
    width: 100%;
    z-index: 1000;
    color: $white;
    font-family: $avenir-blk;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-color: $gray;

    #language {
        display: none;
    }

    #mobile_esbs {
        display: none;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        position: absolute;
        left: 2%;
        top: 0;
        z-index: 10;
        font-size: 1.8em;
        line-height: 1.8em;
        letter-spacing: 0.09em;
        font-family: $avenir-blk;
        margin: 3px 0 0 10px;
    }

    div.private-nav {
        width: 100%;
        background-color: darken($black, 5);

        ul {

            li {
                display: inline-block;
                list-style: none;

                a {
                    line-height: 30px;
                    color: lighten($gray, 40);
                    text-decoration: none;
                    font-size: 0.8em;
                    padding: 0 0 0 15px;
                    letter-spacing: 0.08em;

                    &:hover {
                        color: $gold;
                    }

                }
            }
        }
    }

    div.principal-nav {

        div {
            margin: 0 auto;
            text-align: center;

            & > ul {

                & > li {
                    display: inline-block;

                    a {
                        line-height: 55px;
                        padding: 0 15px;
                        display: block;

                    }

                    &.open,
                    &:hover {

                        &.icons ul {
                            max-height: 500px;
                        }
                    }

                    &.icons ul {
                        position: absolute;
                        background-color: lighten($gray, 70);
                        left: 0;
                        text-align: center;
                        right: 0;
                        -webkit-transition: 0.4s ease-in-out;
                        -o-transition: 0.4s ease-in-out;
                        -moz-transition: 0.4s ease-in-out;
                        transition: 0.4s ease-in-out;
                        padding-top: 0;
                        max-height: 0;
                        overflow: hidden;

                        li {
                            list-style: none;
                            display: inline-block;
                            margin: 20px 10px;
                            vertical-align: top;
                            position: relative;

                            div.icon {
                                display: block;
                                width: 50px;
                                height: 50px;
                                background-color: red;
                            }

                            a {
                                line-height: 1.3em;
                                font-family: $avenir-med;
                                font-size: 0.7em;
                                color: $black;
                                display: block;
                                width: 100px;
                                overflow: hidden;
                                vertical-align: top;
                                padding: 0;

                                &::before {
                                    display: block;
                                    content: '';
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: center;
                                    height: 70px;
                                    margin-bottom: 10px;
                                }

                                &:hover {
                                    &::before {
                                        opacity: 0.8;
                                    }
                                }
                            }

                            &.current-menu-item {
                                a {
                                    color: $gold_dark;
                                }
                            }

                            &.icon-1_4 a::before {
                                background-image: url('images/icon_1_4.png');
                            }

                            &.icon-2_4 a::before {
                                background-image: url('images/icon_2_4.png');
                            }

                            &.icon-3_4 a::before {
                                background-image: url('images/icon_3_4.png');
                            }

                            &.icon-4_4 a::before {
                                background-image: url('images/icon_4_4.png');
                            }

                            &.icon-business a::before {
                                background-image: url('images/icon_business.png');
                            }

                            &.icon-church_planting a::before {
                                background-image: url('images/icon_church_planting.png');
                            }

                            &.icon-church a::before {
                                background-image: url('images/icon_church.png');
                            }

                            &.icon-default a::before {
                                background-image: url('images/icon_default.png');
                            }

                            &.icon-discipleship a::before {
                                background-image: url('images/icon_discipleship.png');
                            }

                            &.icon-east a::before {
                                background-image: url('images/icon_east.png');
                            }

                            &.icon-events a::before {
                                background-image: url('images/icon_events.png');
                            }

                            &.icon-intercessor a::before {
                                background-image: url('images/icon_intercessor.png');
                            }

                            &.icon-issues a::before {
                                background-image: url('images/icon_issues.png');
                            }

                            &.icon-north a::before {
                                background-image: url('images/icon_north.png');
                            }

                            &.icon-outreach a::before {
                                background-image: url('images/icon_outreach.png');
                            }

                            &.icon-prayer a::before {
                                background-image: url('images/icon_prayer.png');
                            }

                            &.icon-regions a::before {
                                background-image: url('images/icon_regions.png');
                            }

                            &.icon-south a::before {
                                background-image: url('images/icon_south.png');
                            }

                            &.icon-spheres a::before {
                                background-image: url('images/icon_spheres.png');
                            }

                            &.icon-west a::before {
                                background-image: url('images/icon_west.png');
                            }

                            &.icon-vision a::before {
                                background-image: url('images/icon_vision.png');
                            }

                            &.icon-resources a::before {
                                background-image: url('images/icon_resources.png');
                            }

                            &.icon-values a::before {
                                background-image: url('images/icon_values.png');
                            }

                            &.icon-thumbs_up a::before {
                                background-image: url('images/icon_thumbs_up.png');
                            }

                            &.icon-teams a::before {
                                background-image: url('images/icon_teams.png');
                            }



                        }
                    }

                    &:last-of-type {
                        background-color: $gold;
                        position: absolute;
                        right: 0;


                        a {
                            padding: 0 35px;
                            transition: all 300ms ease;

                            &.close {
                                background-color: lighten($gray, 20);
                            }

                            &:hover {
                                color: $gray;
                            }
                        }
                    }

                    &.pll-parent-menu-item {
                        position: absolute;
                        left: 0;

                        a {
                            padding: 0 15px;
                            color: lighten($gray, 40);

                            &:hover {
                                color: $gold;
                            }
                        }

                        & > a {
                            //display: none;
                        }

                        ul {
                            display: none;
                            //top: 0;
                            width: 0;
                            background-color: $black;
                            position: fixed;
                            text-align: left;
                            left: 0;
                            right: 0;

                            li {
                                display: inline-block;
                                position: relative;

                                &.current-lang {
                                    float: left;
                                }
                            }
                        }

                        &:hover {

                            ul {
                                height: auto;
                                display: block;
                                width: 100%;
                            }

                            & > a {
                                display: none;
                            }
                        }
                    }
                }

                li {

                    &.current-menu-item,
                    &.current-page-ancestor {
                        & > a {
                            color: $gold_light;

                        }

                        &:last-of-type {
                            a {
                                color: $white;
                            }
                        }
                    }

                    a {
                        color: $white;
                        letter-spacing: 0.2em;
                        text-transform: uppercase;
                        text-decoration: none;
                        transition: all 100ms ease;
                        cursor: pointer;
                        font-size: 0.9em;

                        &:hover {
                            color: $gold;
                        }
                    }

                }

            }
        }
    }

    #burger {
        display: none;
        width: 30px;
        height: 25px;
        position: absolute;
        right: 0;
        top: 0;
        background-image: url('images/burger.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 12px 10px 0 0;
        z-index: 1000;

        &.open {
            background-image: url('images/burger_close.png');
        }

        a:hover {
            background-color: transparent;
        }
    }

    @media only screen and (max-width: 1300px) {

        div.principal-nav div {
            & > ul {
                li {
                    a {
                        font-size: 0.8em;
                        line-height: 45px;
                        padding: 0 12px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 740px) {

        div.private-nav {
            display: none;
        }

        #language {
            display: block;
            position: absolute;
            top: 0;
            left: 15px;
            z-index: 100;

            a {
                display: none;
                color: $white;
                line-height: 48px;
                text-decoration: none;
                letter-spacing: 0.15em;
            }

            select {
                display: block;
                font-size: 1em;
                background: transparent;
                font-family: $avenir-blk;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: $white;
                border: 0;
                padding: 0;
                line-height: 48px;
                border-radius: 0;
                -webkit-appearance: none;
                cursor: pointer;
                padding-right: 26px;

                background-image: url('images/dropdown.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: right center;

                option {
                    font-family: $avenir-blk;
                    letter-spacing: 0.15em;
                    text-transform: uppercase;
                }
            }
        }

        div {
            text-align: left;
        }

        #simple_logo {
            top: 20px;
            left: 4%;
            width: 80px;
            height: 30px;
        }

        #burger {
            right: 2%;
            top: 0;
            display: block;
            z-index: 100;
        }

        #mobile_esbs {
            display: block;
        }


        div.principal-nav {
            div {
                position: relative;
                z-index: 0;

                & > ul {
                    background-color: $gray;
                    padding: 48px 3% 0;
                    overflow: hidden;
                    display: block;
                    transition: all 200ms ease;
                    text-align: left;
                    z-index: 10;
                    //position: absolute;
                    height: 0;
                    top: 0;
                    left: 0;
                    right: 0;

                    li a {
                        font-size: 1.4em;
                        line-height: 48px;
                    }

                    & > li:last-of-type {
                        margin-bottom: px;
                    }

                    & > li {
                        width: 100%;
                        margin: 5px auto;
                        display: block;
                        text-align: center;

                        &:last-of-type {
                            position: relative;
                            background-color: $gray;

                            a {
                                &:hover {
                                    color: $gold;
                                }
                            }
                        }

                        &.pll-parent-menu-item {
                            display: none;
                            position: relative;
                            width: 100%;
                        }

                        &.icons ul {
                            display: block;
                            position: relative;
                            padding: 0;
                            background: none;
                            margin: 0 auto 20px;

                            li {
                                text-align: center;
                                margin: 5px auto;
                                display: block;

                                &.current_page_item,
                                &.current-menu-item {
                                    a {
                                        color: $gold-light;
                                    }
                                }

                                a {
                                    color: $white;
                                    width: auto;
                                    line-height: 28px;

                                    &:hover {
                                        color: $gold;
                                    }

                                    &::before {
                                        display: none;
                                    }
                                }
                            }
                        }

                    }

                    &.show {
                        bottom: 0;
                        height: 100vh;
                        overflow-y: scroll; /* has to be scroll, not auto */
                        -webkit-overflow-scrolling: touch;
                        padding-bottom: 48px;
                        position: absolute;

                        & > li {

                            &.pll-parent-menu-item {
                                display: none;
                            }
                        }

                    }
                }
            }
        }
    }

}
