body > header {

    div.global {
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        left: 0;
        width: 100%;
        top: 0;
        position: fixed;
        transition: all 350ms ease-in-out 0s;
        z-index: 9999;
        transform: translate(0, -100%);

        #global-tab:before,
        .global-nav:before {
            background: transparent;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -100;
            box-shadow: 1px 3px 3px rgba($black, 0.4);
            transition: all 100ms ease-in-out 0s;

        }

        #global-tab {
            background-color: $white;
            display: inline-block;
            margin: 0 0 0 37px;
            padding: 8px 13px 7px;
            height: 22px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            left: 0;
            fill: $black;
            transition: all 300ms ease-in-out 0s;
            text-decoration: none;
            position: absolute;
            z-index: 9999;

            &:before {
                content: "";
            }

            div.svg-box {
                width: 22px;
                height: 21px;
            }

            span.txt {
                display: inline-block;
                color: $black;
                font-family: $radikal;
                font-size: 1.1em;
                vertical-align: top;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                line-height: 20px;
                padding: 2px 0 0 6px;
            }

            div.arrow {
                display: inline-block;
                vertical-align: top;
                width: 13px;
                height: 15px;
                position: relative;
                margin: 1px 0 0 8px;

                span {
                    height: 2px;
                    background-color: $black;
                    display: block;
                    position: absolute;
                    width: 8px;
                    top: 50%;

                    &:first-of-type {
                        transform: rotate(45deg);
                        left: 0;
                    }

                    &:last-of-type {
                        transform: rotate(-45deg);
                        right: 0;
                    }
                }
            }

            @media only screen and (max-width: 800px) {
                margin-left: -2px;
            }

            @media only screen and (max-width: 670px) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                background-color: transparent;
                padding: 7px 13px;

                &:before {
                    box-shadow: none;

                }
            }
        }

        div.global-nav {
            background-color: $white;
            width: 100%;
            position: relative;
            z-index: 9999;

            div.container {
                max-width: 1440px;
                margin: 0 auto;
                padding: 40px 20px;
            }

            div.content {
                display: table;
                width: 100%;

                .left {
                    display: inline-block;
                    width: 21%;
                    vertical-align: top;
                    margin: 0 2%;

                    #logo {
                        display: block;
                        margin-bottom: 35px;

                        div.svg-box {
                            width: 200px;
                            height: 80px;
                        }
                    }

                    p {
                        font-size: 0.86em;
                        line-height: 1.4;
                        letter-spacing: 0.05em;
                    }
                }

                .menu-global-nav-container {
                    width: 74%;
                    display: inline-block;
                    vertical-align: top;

                    & > ul {
                        -webkit-column-count: 3;
                        -moz-column-count: 3;
                        column-count: 3;
                        vertical-align: top;

                        li {
                            list-style: none;
                            break-inside: avoid-column;
                            page-break-inside: avoid;
                            -webkit-column-break-inside: avoid;
                        }

                        & > li {
                            padding-bottom: 25px;
                            margin: 0 5%;

                            a {
                                color: $black;
                                font-family: $radikal-bold;
                                font-size: 1.3em;
                                text-decoration: none;
                                letter-spacing: 0.05em;
                                line-height: 1.2em;
                                padding-bottom: 8px;
                                display: block;
                                transition: all 100ms ease-in-out;

                                &:hover {
                                    color: $red;
                                }
                            }

                            ul {
                                margin-left: 47px;
                                break-inside: avoid-column;
                                page-break-inside: avoid;
                                -webkit-column-break-inside: avoid;

                                a {
                                    color: $gray;
                                    font-family: $radikal;
                                    font-size: 1em;
                                    padding-bottom: 10px;

                                }
                            }

                            & > a {
                                span.title {
                                    display: inline-block;
                                    vertical-align: top;
                                    padding-top: 12px;
                                }

                                span.icon {
                                    display: inline-block;
                                    width: 40px;
                                    height: 40px;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    float: left;
                                    margin-right: 7px;
                                    vertical-align: top;
                                }
                            }

                            &.menu-item-has-children {
                                break-inside: avoid-column;
                                page-break-inside: avoid;
                                -webkit-column-break-inside: avoid;
                            }
                        }
                    }
                }

            }

            @media only screen and (max-width: 1270px) {
                div.content {
                    .left {
                        width: 30%;
                        margin: 0 1.5%;
                    }

                    .menu-global-nav-container {
                        width: 66%;

                        & > ul {
                            -webkit-column-count: 2;
                            -moz-column-count: 2;
                            column-count: 2;
                        }
                    }
                }
            }

            @media only screen and (max-width: 900px) {

                div.container {
                    padding: 20px;
                }

                div.content {
                    .left {
                        width: 96%;
                        margin: 0 2%;
                        display: block;

                        p {
                            display: none;
                        }
                    }

                    .menu-global-nav-container {
                        display: block;
                        width: 100%;
                        margin: 0;

                        & > ul > li {
                            margin: 0 3%;
                        }
                    }
                }
            }

            @media only screen and (max-width: 630px) {
                div.content {
                    .left {
                        #logo {
                            text-align: center;
                        }
                    }

                    .menu-global-nav-container {
                        & > ul {
                            -webkit-column-count: 1;
                            -moz-column-count: 1;
                            column-count: 1;
                            text-align: center;

                            & > li {
                                margin: 0;
                                padding-bottom: 15px;

                                ul {
                                    margin: 0;
                                }

                                & > a {
                                    display: inline-block;
                                    padding-right: 47px;

                                }
                            }
                        }
                    }
                }
            }
        }

        &.open {
            transform: translate(0, 0);

            .global-nav {
                &:before {
                    content: "";
                    transition: all 100ms ease-in-out 300ms;
                }
            }

            #global-tab {

                div.arrow {
                    span {
                        &:first-of-type {
                            transform: rotate(-45deg);
                            left: 0;
                        }

                        &:last-of-type {
                            transform: rotate(45deg);
                            right: 0;
                        }
                    }
                }
            }

            @media only screen and (max-width: 740px) {
                .global-nav {
                    height: 100vh;
                    overflow: auto;
                    scroll-behavior: smooth;
                    -webkit-overflow-scrolling: touch;
                    overflow-scrolling: touch;

                    .left {
                        padding-top: 40px;
                    }

                    .menu-global-nav-container {
                        padding-bottom: 60px;
                    }
                }

                #global-tab {
                    display: none;
                }

                .global-nav:before {
                    content: none;
                }

                .close-nav {
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: top;
                    width: 25px;
                    height: 20px;
                    position: fixed;
                    margin: 15px 0 0 15px;
                    z-index: 10000;

                    span {
                        height: 2px;
                        background-color: $black;
                        display: block;
                        position: absolute;
                        width: 15px;
                        top: 50%;

                        &:first-of-type {
                            transform: rotate(-45deg);
                            left: 0;
                        }

                        &:last-of-type {
                            transform: rotate(45deg);
                            right: 0;
                        }
                    }
                }
            }
        }

    }

    div.svg-box {
        position: relative;
        display: inline-block;
        vertical-align: top;

        svg {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}