body.page-template-default {

    #content {

        article.title {
            min-height: 70vh;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 55px;
            text-align: center;
            position: relative;
            border-bottom: 5px solid $gold;

            a.logo {
                width: 180px;
                height: 120px;
                margin: 5vh auto 0;
                display: block;
                background-image: url('images/logo_esbs_white.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            div.title {
                position: absolute;
                left: 0;
                width: 100%;
                margin: 120px auto 0;
                z-index: 0;
                top: 45%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                white-space: normal;
                display: block;
            }

            h1 {
                color: $white;
                font-family: $avenir-blk;
                font-size: 1.7em;
                letter-spacing: 0.3em;
                text-align: center;
                max-width: 600px;
                margin: 40px auto 20px;
                line-height: 2.6em;
                text-transform: uppercase;

            }

            div.button {
                margin-bottom: 30px;

                a.button {
                    color: $white;
                    text-align: center;
                    display: inline-block;
                    margin-top: 20px;
                    font-family: $dido-i;
                    font-size: 1.5em;
                    line-height: 1.6em;
                    padding: 15px 30px 8px;
                    border-width: 2px;
                    letter-spacing: 0.15em;
                    transition: all 100ms ease;
                    margin-right: 0;

                    &:hover {
                        background-color: $gold;
                        color: $gray;
                    }

                }
            }

            @media only screen and (max-height: 700px) {
                div.title {
                    top: inherit;
                    position: relative;
                    -webkit-transform: translateY(0);
                    -ms-transform: translateY(0);
                    transform: translateY(0);
                    margin-top: 20px;
                }
            }

        }

        div.spacer {
            padding-top: 60px;
            background-color: $white;
            display: block;
        }

        div.platter {

            article.content-page {
                margin-bottom: 60px;

                h1 {
                    background-image: url('images/arcs.png');
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    text-align: center;
                    color: $gold_dark;
                    font-family: $avenir-blk;
                    font-size: 1.7em;
                    letter-spacing: 0.35em;
                    min-height: 215px;
                    margin: 0 0 40px;
                    padding-top: 40px;
                }

                div.lead {
                    text-align: center;
                    max-width: 640px;
                    margin: 40px auto 60px;
                    width: 50%;

                    p {
                        font-family: $avenir-blk;
                        letter-spacing: 0.18em;
                        line-height: 1.8em;
                    }
                }

                div.content {
                    margin: 20px auto 20px;

                    div.col2 {
                        margin-bottom: 60px;

                        -webkit-column-count: 2; /* Chrome, Safari, Opera */
                        -moz-column-count: 2; /* Firefox */
                        column-count: 2;

                        -webkit-column-gap: 110px; /* Chrome, Safari, Opera */
                        -moz-column-gap: 110px; /* Firefox */
                        column-gap: 110px;

                        -webkit-column-span: all; /* Chrome, Safari, Opera */
                        column-span: all;
                    }

                    div.col_fixed {
                        display: table;

                        div.col {
                            display: inline-block;
                            width: 46%;
                            vertical-align: top;

                            &:nth-of-type(2n) {
                                padding-left: 3%;
                            }

                            &:nth-of-type(2n+1) {
                                padding-right: 3%;
                            }
                        }
                    }

                    h2, h3 {
                        font-family: $avenir-blk;
                        letter-spacing: 0.1em;
                        line-height: 1.5em;
                        font-size: 1.2em;
                        margin: 30px 0 10px;
                    }

                    h4 {
                        font-family: $avenir-blk;
                        text-transform: uppercase;
                        letter-spacing: 0.15em;
                        line-height: 1.5em;
                        font-size: 0.8em;
                        margin: 25px 0 10px;
                    }

                    ul, ol {
                        margin-bottom: 30px;
                        padding-left: 30px;

                        li {
                            font-family: $avenir-med;
                            letter-spacing: 0.1em;
                            line-height: 1.5em;
                            margin: 0 0 15px;
                            padding-left: 5px;
                        }
                    }

                    p {
                        font-family: $avenir-med;
                        letter-spacing: 0.1em;
                        line-height: 1.5em;
                        margin: 0 0 30px;

                        a {
                            color: $gold-dark;

                            &:hover {
                                color: $gold;
                            }
                        }

                        em {
                            font-family: $avenir-med-i;
                        }

                    }

                    blockquote {

                        p {
                            color: $gold-dark;
                            font-family: $dido-i;
                            max-width: 600px;
                            margin: 0 auto 30px;

                        }
                    }
                }

            }

        }

    }

    @media only screen and (max-width: 870px) {
        #content {
            div.platter {
                article.content-page {
                    div.lead {
                        width: 70%;
                    }

                    div.content div.col2 {

                        -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
                        -moz-column-gap: 50px; /* Firefox */
                        column-gap: 50px;
                    }
                }
            }

        }
    }

    @media only screen and (max-width: 767px) {
        #content {

            article.title {
                h1 {
                    font-size: 1.2em;
                    line-height: 2.2em;
                    width: 90%;

                }
            }

            div.platter {
                article.content-page {
                    padding-top: 0;
                    padding-bottom: 20px;
                    margin-bottom: 20px;

                    h1 {
                        padding-top: 80px;
                        margin-bottom: 0;
                    }

                    div.lead {
                        width: 100%;
                    }

                    div.content {
                        margin-top: 0;

                        div.col2 {
                            -webkit-column-count: 1; /* Chrome, Safari, Opera */
                            -moz-column-count: 1; /* Firefox */
                            column-count: 1;
                        }
                    }
                }
            }

        }
    }

}