#weekend {
    .content-page {
        max-width: 1600px;
    }
}

section.weekend {
    background-color: $red;
    color: $white;
    padding: 50px 0;

    div.container {
        max-width: 1600px;
        margin: 0 auto;
        display: table;
        width: 100%;
    }

    div.empty {
        width: auto;
        margin: 20px;

        h1 {
            text-align: center;
            font-family: $radikal-bold;
            margin: 10px 0 5px;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            font-size: 1.2em;
            line-height: 1.2em;
        }
    }

    article {
        display: table-cell;
        width: 33.333%;
        text-align: center;
        vertical-align: top;
        height: 100%;
        border-left: 1px solid rgba($white, 0.8);

        &:first-of-type {
            border-left: none;
        }

        header {

            div {
                text-align: center;
                vertical-align: top;
                height: 100%;
                border-left: 1px solid rgba($white, 0.8);
                padding: 0 0 10px;

                &:first-of-type {
                    border-left: none;
                }

                h1 {
                    font-family: $radikal-bold;
                    font-size: 18px;
                    border: 2px solid $white;
                    display: inline-block;
                    line-height: 30px;
                    padding: 6px 14px 3px;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    margin: 10px 0 10px;
                }

                time {
                    display: block;
                }
            }
        }

        div.content {
            height: 100%;
            width: 75%;
            margin: 0 auto;

            .item {
                border-top: 1px solid rgba($white, 0.8);
                padding: 40px 0;
                display: block;
                color: $white;
                text-decoration: none;

                &:first-of-type {
                    border-top: none;
                }

                time {
                    font-family: $radikal-black;
                    text-transform: uppercase;
                    display: block;
                    font-size: 40px;
                    line-height: 35px;
                    letter-spacing: 0.1em;
                    margin: 10px 0 10px;
                }

                h2 {
                    font-family: $radikal-bold;
                    margin: 10px 0 5px;
                    text-transform: uppercase;
                    letter-spacing: 0.06em;
                    font-size: 1.2em;
                    line-height: 1.2em;
                }

                p {
                    font-size: 0.8em;
                    margin: 10px 0 5px;
                    letter-spacing: 0.06em;
                    line-height: 16px;

                    &.location {
                        vertical-align: top;
                        padding-right: 20px;

                        &::before {
                            display: inline-block;
                            vertical-align: top;
                            width: 12px;
                            height: 12px;
                            padding: 0 12px 0 0;
                            content: "";
                            background-image: url('images/map_point.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 760px) {
        padding: 10px 0;

        div.container {
            display: block;

            article {
                display: block;
                width: 90%;
                margin: 0 auto;
                border-bottom: 1px solid rgba($white, 0.8);
                border-left: none;

                &:last-of-type {
                    border-bottom: none;
                }

                header {
                    margin-top: 30px;
                }

                div.content {
                    width: 90%;

                    .item {
                        padding: 35px 0;

                        border-top: none;
                    }
                }
            }
        }
    }
}

#content section.program {
    margin: 0 auto;
    max-width: 1500px;
    padding: 20px;

    & > div.header {

        position: relative;
        height: 80px;
        margin: 0 1.33333% 20px;
    }

    div.content {
        display: table;
        width: 100%;

        article {
            width: 25%;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;

            &.current {
                div.container {
                    background-color: $red;
                    color: $white;

                    div.header {
                        div.image {
                            -webkit-filter: brightness(110%) saturate(0) contrast(80%) blur(0);
                        }
                    }

                    div.text {
                        p {
                            color: $white;
                        }
                    }

                    div.location {
                        color: $white;

                        &::before {
                            background-image: url('images/map_point.png');
                        }

                        &::after {
                            background-color: $white;
                        }

                    }
                }
            }

            div.container {
                @include border-radius(4px);
                background-color: $white;
                margin: 0.8vw;
                overflow: hidden;
                color: $gray-dark;
                border: 1px solid $gray6;

                div.header {
                    padding-bottom: 65%;
                    width: 100%;
                    height: 0;
                    position: relative;

                    .speaker {
                        position: absolute;
                        bottom: 0;
                        z-index: 10;
                        padding: 10px 15px;

                        h1 {
                            color: $white;
                            font-family: $radikal-black;
                            text-transform: uppercase;
                            letter-spacing: 0.06em;
                            font-size: 1.6em;
                            line-height: 1.2em;

                        }
                    }

                    .image {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 0;
                        background-color: $gray4;
                    }
                }

                div.text {
                    padding: 20px 15px 0;

                    h1 {
                        font-family: $radikal-bold;
                        font-size: 1.2em;
                        letter-spacing: 0.01em;
                        line-height: 1.2em;
                        margin: 0 0 15px;
                    }

                    time {
                        display: block;
                        padding: 3px 0;

                        &.date {
                            font-family: $radikal-bold;
                            text-transform: uppercase;
                            font-size: 0.9em;
                        }

                        &.time {
                            font-size: 0.9em;
                        }
                    }

                    p {
                        margin: 20px 0 0;
                        font-size: 0.9em;
                        color: $gray2;
                    }
                }

                div.location {
                    position: relative;
                    padding-top: 31px;
                    font-size: 0.8em;
                    color: $gray2;
                    margin: 0 0 15px;

                    &::after {

                        height: 1px;
                        background-color: $gray5;
                        display: block;
                        content: "";
                        margin: 10px auto 20px;
                        position: absolute;
                        top: 0;
                        right: 15px;
                        left: 15px;
                    }

                    &::before {
                        display: inline-block;
                        vertical-align: top;
                        width: 30px;
                        height: 50px;
                        margin: 0 15px 15px 15px;
                        content: "";
                        background-image: url('images/map_point_black.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        float: left;
                        left: 0;
                        bottom: 0;
                    }

                }
            }
        }
    }

    @media only screen and (max-width: 1100px) {

        padding: 0.8vw;

        div.content {

            article {
                width: 33.333%;
            }
        }
    }

    @media only screen and (max-width: 760px) {

        div.content {

            article {
                width: 50%;

                div.container {

                    div.text {
                        padding: 10px;
                    }

                    div.location {
                        margin: 0 0 10px;

                        &::before {
                            margin: 0 10px 10px 10px;
                        }

                        &::after {
                            left: 10px;
                            right: 10px;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 360px) {

        div.content {

            article {
                width: 100%;

                div.container {

                    div.text {
                        padding: 15px;
                    }

                    div.location {
                        margin: 0 0 15px;

                        &::before {
                            margin: 0 15px 15px 15px;
                        }

                        &::after {
                            left: 15px;
                            right: 15px;
                        }
                    }
                }
            }
        }
    }
}