.yes{
	border-radius: 50%;
	background: green;
	color: white;
	font-size: 38px !important;
	width: 38px !important;
	height: 38px !important;
	right: -52px !important;
}

.editor-help{
	color: grey !important;
}

.warning{
    color: red !important;
}