body#gc_docs {
    div.docs {

        .table {
            display: table;
            width: 100%;
        }

        .doc {
            width: 30%;
            display: inline-block;
            margin: 0 3% 30px 0;
            vertical-align: top;

            .image {
                display: block;
                width: 100%;
                height: 0;
                padding-bottom: 56.2%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: $red;
            }

            h2,
            p {
                margin: 0;
            }

            h2 {
                font-size: 0.9em;
                font-family: $radikal;
                padding: 5px 0;
                color: $gray;
            }

            p {

            }

            a {
                display: inline-block;
                position: relative;
                height: auto;
                width: 100%;

            }
        }
    }

    #right-sidebar {
        #resources {
            margin-top: 34px;
            overflow: hidden;

            ul li {
                display: flex !important;
                margin: 8px 0 12px;


                &:before {
                    content: "";
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    margin-right: 5px;
                    vertical-align: top;

                    background-image: url("images/file_default.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;

                }

                &.jpg:before,
                &.jpeg:before,
                &.png:before,
                &.gif:before,
                &.ico:before,
                &.psd:before,
                &.bmp:before,
                &.tif:before,
                &.tiff:before {
                    background-image: url("images/file_image.png");
                }

                &.mp4:before,
                &.m4v:before,
                &.mov:before,
                &.wmv:before,
                &.avi:before,
                &.mpg:before,
                &.ogv:before,
                &.asf:before,
                &.asx:before,
                &.wm:before,
                &.wmx:before,
                &.divx:before,
                &.flv:before,
                &.qt:before,
                &.mpe:before,
                &.webm:before,
                &.mkv:before {
                    background-image: url("images/file_video.png");
                }

                &.mp3:before,
                &.m4a:before,
                &.ogg:before,
                &.wav:before,
                &.m4b:before,
                &.ra:before,
                &.ram:before,
                &.mid:before,
                &.midi:before,
                &.wax:before,
                &.mka:before {
                    background-image: url("images/file_audio.png");
                }

                &.doc:before,
                &.docx:before,
                &.odt:before,
                &.pages:before {
                    background-image: url("images/file_doc.png");
                }

                &.txt:before,
                &.asc:before,
                &.c:before,
                &.cc:before,
                &.h:before {
                    background-image: url("images/file_txt.png");
                }

                &.csv:before {
                    background-image: url("images/file_csv.png");
                }

                &.tar:before,
                &.zip:before,
                &.gz:before,
                &.gzip:before,
                &.rar:before {
                    background-image: url("images/file_zip.png");
                }

                &.xls:before,
                &.xlsx:before,
                &.ods:before,
                &.numbers:before {
                    background-image: url("images/file_xls.png");
                }

                &.pdf:before {
                    background-image: url("images/file_pdf.png");
                }

                &.link:before {
                    background-image: url("images/link.png");
                }

                a {
                    width: 90%;
                    vertical-align: top;
                }
            }
        }
    }
}