#gc_docs {

    & > header div.global {

        transform: translate(0, -100%);

        &.open {
            transform: translate(0, 0);
        }

        #global-tab {
            padding: 12px 17px;
        }

        @media only screen and (max-width: 670px) {
            #global-tab {
                padding: 7px 13px;
                fill: $white;

                span.txt {
                    color: $white;
                }

                div.arrow span {
                    background-color: $white;
                }


            }
        }
    }

    & > header div.local {
        background-color: darken($gray-dark, 10);
        width: 100%;
        height: 36px;
        position: fixed;
        bottom: inherit;
        box-shadow: 1px 2px 4px rgba($black, 0.5);

        & > div {
            margin: 0 auto;
        }

        #simple_logo {
            display: none;
            margin: 0 auto;
        }

        div.top-nav,
        #burger {
            display: inline-block;
            position: relative;
            top: inherit;
            margin: 0;
        }

        #burger {
            float: right;
            margin: 9px 20px;
            height: 18px;
            width: 24px;

            span {
                background-color: $white;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    top: 8px;
                }

                &:nth-child(4) {
                    top: 16px;

                }
            }
        }

        div.top-nav {
            float: right;
            margin: 1px 10px 0 0;

            ul li a {
                color: $white;
                font-size: 0.9em;

                &::before,
                &::after {
                    background-color: $white;
                }
            }
        }

        &.open_nav {

            #burger {

                span {
                    background-color: $black;
                }
            }
        }
    }
}