@import 'base/intro';
@import "base/reset";
@import "base/font";
@import "base/color";
@import "base/functions";
@import "base/tools";
@import "advanced/header";
@import "advanced/footer";
@import "advanced/content";
@import "advanced/elementor";
@import "advanced/tmp_default";
@import "advanced/blog";
@import "advanced/event";
@import "advanced/events";
@import "advanced/summary";
@import "advanced/sub_nav";
@import "advanced/weekend";



body {
    font-family: $radikal;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    color: $black;
    background-color: $white;


    &.black {
        background-color: $black;
    }

}