@font-face {
  font-family: 'Radikal-Light';
  src: url("fonts/2B5662_0_0.eot");
  src: url("fonts/2B5662_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/2B5662_0_0.woff") format("woff"), url("fonts/2B5662_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Radikal-Black';
  src: url("fonts/2B5662_1_0.eot");
  src: url("fonts/2B5662_1_0.eot?#iefix") format("embedded-opentype"), url("fonts/2B5662_1_0.woff") format("woff"), url("fonts/2B5662_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Radikal-Bold';
  src: url("fonts/2B5662_2_0.eot");
  src: url("fonts/2B5662_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/2B5662_2_0.woff") format("woff"), url("fonts/2B5662_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Radikal';
  src: url("fonts/2B5662_3_0.eot");
  src: url("fonts/2B5662_3_0.eot?#iefix") format("embedded-opentype"), url("fonts/2B5662_3_0.woff") format("woff"), url("fonts/2B5662_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Radikal-UltraThin';
  src: url("fonts/2B5662_4_0.eot");
  src: url("fonts/2B5662_4_0.eot?#iefix") format("embedded-opentype"), url("fonts/2B5662_4_0.woff") format("woff"), url("fonts/2B5662_4_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Corbel-BoldItalic';
  src: url("fonts/34BBF4_0_0.eot");
  src: url("fonts/34BBF4_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/34BBF4_0_0.woff2") format("woff2"), url("fonts/34BBF4_0_0.woff") format("woff"), url("fonts/34BBF4_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Corbel';
  src: url("fonts/34BBF4_1_0.eot");
  src: url("fonts/34BBF4_1_0.eot?#iefix") format("embedded-opentype"), url("fonts/34BBF4_1_0.woff2") format("woff2"), url("fonts/34BBF4_1_0.woff") format("woff"), url("fonts/34BBF4_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Corbel-Bold';
  src: url("fonts/34BBF4_2_0.eot");
  src: url("fonts/34BBF4_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/34BBF4_2_0.woff2") format("woff2"), url("fonts/34BBF4_2_0.woff") format("woff"), url("fonts/34BBF4_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Corbel-Italic';
  src: url("fonts/34BBF4_3_0.eot");
  src: url("fonts/34BBF4_3_0.eot?#iefix") format("embedded-opentype"), url("fonts/34BBF4_3_0.woff2") format("woff2"), url("fonts/34BBF4_3_0.woff") format("woff"), url("fonts/34BBF4_3_0.ttf") format("truetype"); }

body.login {
  font-family: "Radikal", sans-serif;
  color: #333333;
  background-color: #F8F8F8; }
  body.login #login h1 a {
    background-image: url("images/wp-login.png");
    height: 84px;
    width: 84px;
    background-size: 84px 84px;
    background-repeat: no-repeat; }
  body.login #login .message {
    border-left-color: #E52639; }
  body.login #login a:focus {
    box-shadow: none; }
  body.login #login a:hover {
    color: #E52639; }
  body.login #login input:focus {
    border-color: #777777;
    box-shadow: none; }
  body.login #login #wp-submit {
    background: #E52639;
    border: none;
    box-shadow: inset 0 2px 0 #d81a2d;
    text-shadow: none;
    padding-top: 1px; }
